<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
	</head>
	<body>
		<div>
			<h1>New Scientist</h1>
			<form action="/scientists" method="POST">
				<label for="name">name</label>
				<input type="text" name="name" id="name" />
				<label for="desc">Description</label>
				<input type="text" name="desc" id="desc" />
				<input type="submit" value="Create Scientist" />
			</form>
		</div>
	</body>
</html>
