<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
	</head>
	<body>
		<header><h1>Details of Individual Scientist</h1></header>

		<div>
			<ul>
				<li>Name: <%=scientistObj.name%></li>
				<li>Description: <%=scientistObj.desc%></li>
			</ul>
		</div>
		<br />
		<nav>
			<a href="/scientists">Back</a>
		</nav>
	</body>
</html>
